<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="order">
        <classes>
            <!--<class name="QA_Test.Practice_1" />-->
            <class name="LiveProject_Automation_Scripts.MercuryTours_LiveProject_Automation" />
        </classes>
    </test>

</suite>
